.carousel-card-container {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}
