

.carousel-card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}