.card-img {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  filter: brightness(0.7);
  z-index: -1;
}

.img-container {
  display: flex;
  font-size: 300%;
}

.tour-title {
  z-index: 0;
  padding-left: 2%;
  position: absolute;

  top: 70%;
  color: white;
}
.tour-name {
  z-index: 0;
  padding-left: 2%;
  position: absolute;
  font-size: 50%;
  top: 88%;
  color: #9e9e9e;
}
