.box-container {
    display: flex;
    margin-bottom: 50px;
}

.first-box {
    height: 700px;
    object-fit: cover;
    width: 83.3333%;
}

.second-box {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading1 {
    margin-top: -50px;
}

.heading2 {
    margin-top: 50px;
    margin-bottom: 100px;
}
