.gridContainer {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}

.leftbar,
.rightbar,
.maparea {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 10px;
}

.leftbar {
    width: auto;
    position: relative; /* 상대적인 위치 설정 */
}

.maparea {
    width: 100%;
}

.rightbar {
    width: 100%;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조정 */
@media (min-width: 600px) {
    .leftbar {
        width: 16.666%; /* 2/12 */
    }
    .maparea {
        width: 66.666%; /* 8/12 */
    }
    .rightbar {
        width: 16.666%; /* 2/12 */
    }
}

.leftbar .react-date-range {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h3 {
    text-align: center;
    color: #46494e;
    margin: 15px;
}

.plan-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.kor-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.eng-title {
    font-size: 32px;
    font-weight: bold;
    color: #9e9e9e;
    margin: 0;
    padding: 0;
    padding-left: 1%;
}

.planBtn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    position: absolute;
    top:-15px;
    right: 20px;
    z-index: 2;
}