.overlaybox {
    position: relative;

    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png') no-repeat;
    padding: 15px 10px;
}
.overlaybox div {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.overlaybox span {
    list-style: none;
    white-space: normal;
}
.overlaybox .boxtitle {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png') no-repeat right 5px
        center;
    margin-bottom: 6px;
}
.overlaybox .first {
    position: relative;
    width: 250px;
    height: 136px;
    background: no-repeat;

    object-fit: cover;
}

.first .text {
    color: #fff;
    font-weight: bold;
}
.first .triangle {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png') no-repeat;
    padding: 6px;
    font-size: 17px;
}
.first .addr {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 7px;
    font-size: 13px;
}
.overlaybox span {
    width: 250px;
    position: relative;
    margin-bottom: 2px;
    background: #2b2d36;
    color: #aaabaf;
    line-height: 1;
    overflow: hidden;
}

.overlaybox span .title {
    font-size: 13px;
    word-break: break-all;
}

.overlaybox span:hover {
    color: #fff;
    background: #d24545;
}
.planner-map {
    border-radius: 15px;
}