/* PlanCard.css */

.card-container {
    display: flex;
    width: auto;
    height: 100px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-media {
    width: 70px;
    height: 70px;
    flex-grow: 1;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .card-content {
    position: static;
    flex-grow: 5;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-info {
    font-size: 1px;
    font-weight: bolder;
    color: skyblue;
  }
  
  .icon-container {
    display: flex;
  }
  
  .favorite-icon {
    font-size: 13px;
    color: #F44336;
  }
  
  .star-icon {
    font-size: 14px;
    color: #FBC02D;
  }
  
  .button-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .button {
    height: 30px;
    width: 30px;
    padding: 0;
    min-width: 0;
  }
  