.item-container{
    height: auto;
    margin-bottom: 120px;
}

.table-container{
    display: flex;
    height: auto;
}

.map-container{
    
    border: 1px solid black  ;
    max-height: 343px;
    height: auto;   
    
}



.map-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    text-align: center;
    height: auto;
    max-height: 100px;
    text-align: center;
    
}

.number-list{
    display: flex;
}

.number-icon{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 20px;
    height: 20px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    background-color: #8181F7;
    border-radius: 50%;
}

.footer-text{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
}