.table-card-form{
    box-shadow: 
    1px 0 0 0 #888, 
    0 1px 0 0 #888, 
    1px 1px 0 0 #888,
    1px 0 0 0 #888 inset, 
    0 1px 0 0 #888 inset;
    display: flex;
    height: 80px;
}

.number-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 12%;
    height: auto;
}


.number{
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    color: #EEEEEE;
    background-color: #083041;
    border-radius: 50%;
}
.loc-img-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 80px;
    height: 80px;
}

.loc-img{
 
    width: 60px;
    height: 60px;
}

.locName{
    width: 88%;
    margin: 0;
    display: flex; 
    height: 100%;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center ;
}