.tour-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.tour-modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 580px;
    height: 580px;
}

.tour-modal-header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.tour-modal-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 10px;
    font-size: 30px;
    padding-right: 10px;
}

.tour-modal-content {
    max-height: 100px;
    overflow: auto; /* 내용을 넘어가는 부분은 숨깁니다. */
    transition: max-height 3s ease-in-out; 
    padding: 10px;
}

.tour-modal-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
    height: 10%;
}

.tour-modal-text {
    padding-left: 10px;
    padding-right: 10px;
}

.tour-madal-info {
    margin-top: -15px;
    padding-left: 20px;
}

.tour-madal-info > h3 {
    text-align: start;
    color: #46494e;
    margin-top: -10px;
}

.tour-modal-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.tour-modal-image {
    height: 280px;
    max-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.tour-modal-image img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.tour-modal-overview {
    padding-left: 19px;
    padding-right: 19px;
    margin-top: -6px;
    margin-bottom: 5px;
}

.more-link {
    color: rgba(49, 154, 240, 0.555);
    cursor: pointer;
    float: right;
}

